@charset "UTF-8";

/* Paletas de cores:

verde escuro  #204A13
verde -escuro  #066130
verde claro  #066130
verde +claro  #A7DB79

*/


@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to bottom, #204A13, #066130, #066130, #30925e);
    }

    section#login {
        width: 80vw;
    }

    section#login div#img {
        float: left;
        width: 33%;
        height: 100%;
    }

    section#login div#formulario {
        float: right;
        width: 67%;
    }

    div h1{
        color: #066130;
        font-size: 3em;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #204A13, #066130, #066130, #30925e);
    }

    section#login{
        width: 950px;
    }

    section#login div#img{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login div#formulario{
        float: right;
        width: 50%;
    }

}