 @charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
      --fonte01: verdana, Geneva, Tahoma,sans-serif;
      --fonte03: 'Josefin Sans',sans-serif;
      --fonte04: 'Passion One',sans-serif;
}

*{
      margin: 0px;
      padding: 0px;
}



html, body{
      background-color: darkgrey;
      min-height: 100vh;
      font-family: var(--fonte01);
}


/* cabeçario */
header{
      background-color: black;
      color: white;
      text-align: center;
}

header h1{
      padding-top: 50px;
       font-variant: small-caps;
       font-family: var(--fonte04);
       font-size: 10vw;
}

header p{
      padding-bottom: 50px;
}
/* cabeçario */



/* link */
a{
      color: white;
       text-decoration: none;
      font-weight: bold;
}

a:hover {
      text-decoration: underline;
}
/* link */



/* contudo/poema*/
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 30px;
    font-family: var(--fonte03);
    font-size: 4vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: #2e2e2e;
    padding: 5px;
    color: white;
}

section.imagem > p{
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.24);
      padding: 20px;

}
/* contudo/poema*/



/* rodape */
footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
}

/* rodape */